body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  color: #333;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: fixed; /* Sabit konum */
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.logo-left h1 {
  font-size: 2.5rem;
  margin: 0;
  color: #630a0a;
}

.logo-left h2 {
  font-size: 1.5rem;
  margin: 0;
  color: #630a0a;
}

.hamburger {
  font-size: 2rem;
  cursor: pointer;
  display: none; /* Mobil görünümde gösterilecek */
}

.nav-right {
  display: flex;
  gap: 20px;
}

.nav-right a {
  text-decoration: none;
  color: #630a0a;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-right a:hover {
  color: #3498db;
}

.home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: calc(100vh - 80px); /* Header yüksekliğini çıkar */
  padding: 20px;
  color: white;
  background: rgba(0, 0, 0, 0.5); /* Arka planı koyulaştır */
  margin-top: 0px; /* Header yüksekliği kadar boşluk bırak */
}

.home-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.home-content p {
  font-size: 1.2rem;
  line-height: 1.6;
}

/* Mobil stil */
@media (max-width: 768px) {
  .hamburger {
    display: block; /* Mobil görünümde göster */
    margin-left: 20px; /* Sol taraftan biraz boşluk bırak */
  }

  .nav-right {
    display: none; /* Mobilde varsayılan olarak gizle */
    flex-direction: column;
    position: absolute;
    top: 80px; /* Header yüksekliği */
    right: 0;
    background-color: white;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 9;
  }

  .nav-right.open {
    display: flex; /* Menü açıldığında göster */
  }

  .nav-right a {
    padding: 15px;
    border-bottom: 1px solid #eee;
  }
}
